
body{
	font-family: "Roboto Slab", Georgia, serif;
  font-size: 14px;
  line-height: 19.416px;
}

.control {
  position: fixed;
  left: 0;
  background-color: #fff;
  opacity: .5;
  color: #53535c;
  z-index: 2;
  padding: 10px 15px;
  height: 40px;
}

.fa, p {
  vertical-align: middle;
}

#legend {
  top: 10px;
  font-weight: 300;
  margin-bottom: 10px;
}

#pause {
  top: 65px;
  cursor: pointer;
}